<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>2.2.0</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>lilworld</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>lilworld</string>
			</array>
		</dict>
	</array>
	<key>CFBundleVersion</key>
	<string>162</string>
	<key>Fabric</key>
	<dict>
		<key>APIKey</key>
		<string>e010d12661efc6c22def53b9a9c4204b6e2fff31</string>
		<key>Kits</key>
		<array>
			<dict>
				<key>KitInfo</key>
				<dict/>
				<key>KitName</key>
				<string>Crashlytics</string>
			</dict>
		</array>
	</dict>
	<key>FirebaseAppDelegateProxyEnabled</key>
	<false/>
	<key>ITSAppUsesNonExemptEncryption</key>
	<false/>
	<key>InstagramAppClientId</key>
	<string>3fd0869d367f4ac4b81b75ecc1cfc48c</string>
	<key>InstagramAppRedirectURL</key>
	<string>http://kula-tech.com</string>
	<key>LSApplicationQueriesSchemes</key>
	<array>
		<string>fb</string>
		<string>instagram</string>
		<string>tumblr</string>
	</array>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
	</dict>
	<key>NSCameraUsageDescription</key>
	<string>Разрешите доступ к камере, чтобы сделать фото.</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>Пожалуйста, разрешите доступ к фотографиям.</string>
	<key>UIAppFonts</key>
	<array>
		<string>Circe-Regular.ttf</string>
		<string>Circe-Light.ttf</string>
		<string>BadScript-Regular.ttf</string>
		<string>BERNIERShade-Regular.otf</string>
		<string>Blogger Sans-Light.otf</string>
		<string>BukhariScript-Regular.otf</string>
		<string>Freeride.otf</string>
		<string>Frenchpress.otf</string>
		<string>Gagalin-Regular.otf</string>
		<string>GOGOIA-Deco.otf</string>
		<string>GOGOL.otf</string>
		<string>GUERRILLA-Normal.otf</string>
		<string>LeOsler_Rough-Regular.ttf</string>
		<string>NexaRustExtras.otf</string>
		<string>Nickainley-Normal.otf</string>
		<string>Oranienbaum.ttf</string>
		<string>Perfograma.otf</string>
		<string>PTNY2015.otf</string>
		<string>SensaBrush-Fill.otf</string>
		<string>SensaPen-Regular.otf</string>
		<string>SensaSans-Regular.otf</string>
		<string>SensaSerif-Regular.otf</string>
		<string>SensaWild-Dot.otf</string>
		<string>SensaWild-DotOutlineShade.otf</string>
		<string>SensaWild-Fill.otf</string>
		<string>SensaWild-Line.otf</string>
		<string>SensaWild-Outline.otf</string>
		<string>Sensei-Medium.otf</string>
		<string>Summer Font Light.otf</string>
		<string>Sunday-Regular.otf</string>
		<string>Yarin-Bold.otf</string>
		<string>Yarin-Regular.otf</string>
		<string>zet_light.otf</string>
	</array>
	<key>UIMainStoryboardFile</key>
	<string>Main</string>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>armv7</string>
		<string>gamekit</string>
	</array>
	<key>UIStatusBarHidden</key>
	<true/>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
	</array>
	<key>UIViewControllerBasedStatusBarAppearance</key>
	<false/>
</dict>
</plist>
